doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  //
     Live reload script 
    script(type='text/javascript', src='http://localhost:35729/livereload.js')